.addBook {
  width: 320px;
  height: 420px;
  background: lightgray;
  opacity: 0.9;
  color: black;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  /* box-sizing: border-box; */
  padding: 20px 40px;
}
.addBook h1 {
  margin: 0px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.form input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  /* border-bottom: 1px solid #fff; */
  /* background: transparent; */
  /* outline: none; */
  height: 30px;
  color: black;
}
.form textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
